<div class="container">
  <h1>All our flats (<%= @flat_count %>)</h1>
  <div class="row">
    <div class="card">
      <img src="https://picsum.photos/350/180" alt="">
      <div class="card-main">
        <% @flats.each do |flat| %>
        <h2><%= flat.name %></h2>
        <p><%= flat.address %></p>
        <i class="fas fa-adjust"></i>
        <p><%= flat.number_of_guests %></p>
        <i class="fas fa-adjust"></i>
        <p><%= flat.price_per_night %></p>
      </div>
      <%= link_to "More info",flat_path(flat)  %>
    </div>
    <% end %>
  </div>
</div>
